# Module 3 notebook - pandas

## Introduction

This workbook contains my results for the assignment as specified below. I'll start, however, with a few pandas exercises from the DataCamp source:

- [chapter 1 from _Manipulating DataFrames with pandas_](http://bit.ly/2ftzLk0)

[your exercises go here ...]

In [18]:
import pandas as pd
xl = pd.ExcelFile("WorldPopulation.xlsx")
xl.sheet_names
df = xl.parse("Blad1")

In [19]:
# get the first 5 rows
df.head()

   Year        Population
0  1960  3034971000000000
1  1970  3684823000000000
2  1980  4436590000000000
3  1990  5282716000000000
4  2000  6115974000000000

In [20]:
# retrieve more information about a dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
Year          6 non-null int64
Population    6 non-null int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [21]:
# Import numpy
import numpy as np

# Create array of DataFrame values: np_vals
np_vals = df.values

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = np.log10(df)

# Print original and new data containers
print(type(np_vals), type(np_vals_log10))
print(type(df), type(df_log10))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [26]:
# Import pandas
import pandas as pd

list_keys = ['Country', 'Values']
list_values = [['United States', 'Sovjet Union', 'United Kingdom', 'The Netherlands', 'Germany'],[1118, 473, 273, 395, 854]]

# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(list_keys, list_values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

[('Country', ['United States', 'Sovjet Union', 'United Kingdom', 'The Netherlands', 'Germany']), ('Values', [1118, 473, 273, 395, 854])]
           Country  Values
0    United States    1118
1     Sovjet Union     473
2   United Kingdom     273
3  The Netherlands     395
4          Germany     854

## Assignment - Using pandas on my home brew data set

### Introduction

This assignment is an analysis exercise. It is not as much about the meaning of the analysis you will conduct as it is on the demonstration of common functionality you will use when doing data analysis with pandas. So first an for all it is a demonstration of your pandas skills.

### Step 1: data set construction

Construct an artificial dataset using either Excel, Google Sheets or numpy. Your constructed dataset has at least:

1. 100 rows (measurements/events)
1. 4 columns (variables)
1. one date column with random daily dates in a period of at least 6 months
1. 2 columns containing categorical variables
1. 2 columns containing numerical variables

You can use Excel's
- rand()
- randbetween()
- norm.inv()
- date()
- vlookup()

functions (or Google Sheets' equivalents) to construct your data set. If you use numpy. you can use the versatile random functions in it. If you wish you can polish your dataset by changing some randomly generated values by hand.

Make up a story around your data. In other words: give your data meaning by explaining what your data represents. Being creative in making up your story helps you in improving the joy of doing this exercise! Even better: fabricate some compelling facts in your data that you will extract in your analysis of it.

### Step 2: doing the analysis in pandas

Conduct an analysis on your data set. Demonstrate your skills in using the following pandas functionality

- creating indexes and multiply indices
- stacking and unstacking indices
- indexing and slicing using loc() and iloc()
- using pivot table functionality
- using grouping functionality both on categorical variables as on datetime variables
- using basic statistical functions as count, mean, average and min/max
- plotting (parts of) your data using pandas plotting functionality and seaborn

Also, use an alternative SQL approach for one of your analysis steps. Just show that you are capable of leveraging your SQL skills in pandas.

Annotate your analysis using markdown cells in your notebook. Briefly introduce each step in your analysis you take and lead your reader through your analysis. Here you have to apply your creativity to make up a sensible, interesting story for your user.

Tip: consult the [Python Data Science Handbook](http://bit.ly/2ftE137). It has an excellent chapter on pandas with examples for all techniques you are asked to demonstrate.